body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
fieldset, img { border:0; }
ol, ul { list-style:none; }
.iShare{font-size:12px;text-align:left;*zoom:1}
.iShare:after{content:"";display:table;clear:both}
.iShare ul ,.iShare li{margin:0; padding:0;}
.iShare li{list - style: none;}
.iShare .Qs_more ,.iShare .Qs_txt, .iShare a {cursor: pointer;float: left;font-family: '����',Arial;width:22px;height: 22px;padding-right:5px;}
.iShare .Qs_txt{width:50px;color:#717171;line-height:24px;}
.iShare .Qs_more{background-position:0 0px !important;}
.iShare .Qs_weibo{background-position:0 -40px !important;}
.iShare .Qs_qzone{background-position:0 -80px !important;}
.iShare .Qs_sina{background-position:0 -120px !important;}
.iShare .Qs_pengyou{background-position:0 -160px !important;}
.iShare .Qs_qmail{background-position:0 -200px !important;}
.iShare .Qs_kaixin{background-position:0 -240px !important;}
.iShare .Qs_renren{background-position:0 -280px !important;}
.iShare .Qs_weibo:hover ,.iShare .Qs_qzone:hover ,.iShare .Qs_sina:hover ,.iShare .Qs_pengyou:hover ,.iShare .Qs_qmail:hover ,.iShare .Qs_kaixin:hover ,.iShare .Qs_renren:hover{opacity:0.8;filter:alpha(opacity=80);}
.iShareP1 a ,.QshareP1 span.Qs_more{background:url(http://mat1.gtimg.com/joke/qshare/shareT1.png) no-repeat;height: 15px;width:15px;margin-right:0px;display:inline;line-height:16px;overflow:hidden;}
.iShareP1 .Qs_txt{line-height:16px;}
.iShareP2 a ,.iShareP2 span.Qs_more{background:url(http://mat1.gtimg.com/joke/qshare/shareP1.png) no-repeat;}
.iShareP3 a ,.iShareP3 .Qs_more{width:32px;height: 32px;}
.iShareP3 a  ,.iShareP3 span.Qs_more{background:url(http://mat1.gtimg.com/joke/qshare/shareP2.png) no-repeat;}
.iShareP3 .Qs_txt{line-height:34px;}



.iShareT1 .Qs_more, .iShareT1 a ,.iShareT2 .Qs_more, .iShareT2 a {background:url(http://mat1.gtimg.com/joke/qshare/shareT1.png) no-repeat;cursor: pointer;color:#0b3b8c;float: left;font-family: '����',Arial;height: 15px;padding-left:18px;width:auto;line-height:16px;}
.iShareT1 .Qs_txt ,.iShareT2 .Qs_txt{color:#717171;line-height:16px;}
.iShareT1 .Qs_more{position:relative;}
.iShareT1 .Qs_moreShare{width:120px;height:105px;background:#fff;border:solid 1px #cccccc;position:absolute;left:0;top:15px;display:none;}
.iShareT1 .Qs_moreShare h5{background:#f2f2f2;border-bottom:solid 1px #e5e5e5;color:#333;font-size:12px;font-weight:bold;line-height:25px;text-indent:10px;}
.iShareT1 .Qs_moreShare a{width:85px;margin:7px 0 2px 10px;clear:both;}

.iShareF1 ,.iShareF2 ,.iShareF3 ,.iShareF4 ,.iShareF5 ,.iShareF6 ,.iShareF7 ,.iShareF8 ,.iShareF9{position:fixed;width:177px;_position:absolute;top:150px;right:-152px;}
.iShareF1 a ,.iShareF2 a ,.iShareF3 a ,.iShareF4 a ,.iShareF5 a ,.iShareF6 a ,.iShareF7 a ,.iShareF8 a ,.iShareF9 a{
background:url(http://mat1.gtimg.com/joke/qshare/shareT1.png) no-repeat !important;cursor: pointer;color:#666666 !important;float: left;font-size:12px;font-family: '����',Arial;height: 15px;padding-left:18px;width:auto;line-height:16px;overflow:hidden;text-decoration: none;}
#bdshareBd{width:100%;overflow:hidden;}
#shareXfImg{float:left;}
#iShareFc img{float:left;}
#iShareFc{height:146px;overflow:hidden; float:right;}
#iShareFcBd {background:#FFFFFF;border: 1px solid #E9E9E9;overflow: hidden;width: 150px;height:144px;position:relative}
#iShareFc h6{background-color: #fbfbfb;color:#999999;float: left;font:normal 12px/16px '����';margin: 0;padding: 5px 0;text-indent: 0.5em;width: 100%;position:relative;}
#iShareFc h6 em{width:9px;height:9px;background:url(http://mat1.gtimg.com/joke/qshare/shareClose.gif) no-repeat;cursor:pointer;position:absolute;right:7px;top:6px;text-indent:-9999px;}
#iShareFc ul{float: left;margin-left: 2px;overflow: hidden;padding: 8px 0;width: 100%;}
#iShareFc li {float: left;width: 71px;height:26px;margin:0 0 0 4px;display:inline}
/** totop   **/
#toTop{width:25px;height:26px;margin-top:1px;float:left;}
/** ���� **/
#ShareWordP{position:fixed;_position:absolute;left:0;bottom:0; display:none;}
.ShareWordP {width:255px;height:45px;background:#fff;border:solid 1px #e5e5e5; overflow:hidden;}
.ShareWordP li{width:32px;height: 32px;cursor:pointer;float:left;margin:5px;display:inline;text-indent:-9999px;}
.ShareWordP li{background:url(http://mat1.gtimg.com/joke/qshare/shareP2.png) no-repeat;}
#iShareTips{width:130px;height:145px;background:#000;position:absolute;top:0px;left:0;padding-left:20px;display:none;}	
#iShareTips p{color:#fff;line-height:20px;margin-top:36px;text-indent:8px;}
#iShareTips b{width:36px;height:30px;color:#fff;cursor:pointer;font-weight:normal;float:left;line-height:30px;margin:12px 0px 0 14px;display:inline;text-align:center;padding:0;}
/* */
.iShareP1 .Qs_pengyou ,.iShareP2 .Qs_pengyou ,.iShareP3 .Qs_pengyou ,.iShareT1 .Qs_pengyou ,.iShareT2 .Qs_pengyou ,.ShareWordP .Qs_pengyou{display:none}/*  |xGv00|cefe3ba9ca4620624ac75ce8b321a7dd */